.App {
	background:linear-gradient(to bottom, #0dff00 5%, #de4cde 100%);
	background-color:#0dff00;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.App:hover {
	background:linear-gradient(to bottom, #de4cde 5%, #0dff00 100%);
	background-color:#de4cde;
}
.App:active {
	position:relative;
	top:1px;
}